@model ResultInformation.DAL.Article

@{
    ViewBag.Title = "Showing Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowArticle</h2>

<div>
    @*<h4>Article</h4>*@
	<hr />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/img/fyp.jpg" />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Name)*@
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Name)*@
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Summary)*@
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Summary)*@
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Contents)*@
        </dt>

        <dd>
            @Html.Raw(Model.Contents)
        </dd>
    </dl>
</div>
