@model IEnumerable<ResultInformation.Areas.Student.Models.Course>

@{
    ViewBag.Title = "Courses";
    
}
<table class="table">
@foreach (var item in Model)
{
    string chk = item.Selected ? "checked=\"checked\"" : "";
    
    <tr>
        <td>
            <input type="checkbox" name="Courses" value="@item.Id" @chk/>         
            @item.Name
        </td>

    </tr>
}
</table>
