
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student SignUp</h2>
<h2>Student First Time Registration</h2>
<li>@Html.ActionLink("StudentSignUp", "Create", "StudentSignUp")</li>
<h2></h2>